.node-red/.node-red/flows_nodered.json
[{"id":"2d12fdd7.9b11b2","type":"tab","label":"RaumLicht","disabled":false,"info":""},{"id":"b3954113.3bfe9","type":"tab","label":"RaumSensoren","disabled":false,"info":""},{"id":"b271ecc9.e394","type":"tab","label":"RaumMagic(Tür)","disabled":false,"info":""},{"id":"2a78a6bb.41ace2","type":"tab","label":"Technical Flows","disabled":false,"info":""},{"id":"25a83b77.17d504","type":"tab","label":"RaumMagic(Beamer)","disabled":false,"info":""},{"id":"ee0d426d.8ce6d","type":"group","z":"2d12fdd7.9b11b2","name":"LightTiles Hauptraum","style":{"label":true,"color":"#000000"},"nodes":["edaacdd6.d2106","8d86a707.35e508","e68f5f0d.5f7c7","bc4a27d5.52c868","13dc8515.f479ab","75b18adc.a2bb34","5a542879.17d508","73f742b8.b1f8ac","1741b67e.ae4f2a","e0c0a909.0c1e78","6509f525.ac195c","a41faa44.094978","8e655e9f.585d5","b2e9af31.73b43","58c184c9.42148c","50937576.25c39c","c8ae7b82.306d88","8b585e27.3ee19","3dca82fd.3b427e","f977aa9f.d0e258","c5789403.c64368","f946ab8a.99cf98","cbef0bef.d66578","dceb39dc.a81678","8117d7f7.781d88","9baff08b.ec08","7d6d6a20.3bf3e4","13702260.68c51e","7970bf04.de899"],"x":14,"y":1179,"w":1152,"h":502},{"id":"21a3ed4e.d84142","type":"group","z":"2d12fdd7.9b11b2","name":"Normales Licht Hauptraum","style":{"label":true,"color":"#000000"},"nodes":["934588e2.7dc458","9750a692.3aa988","26385645.34bbda","e57f3f50.90e0f","e76af0d2.ec832","6120bd02.56dbd4","2cf7ce5e.a94092","b1f99e7.ac7596","df845a00.7115a8","ef8ac276.334d1","1d16ec5b.13c134","ec95cb8c.f69088","983f97fd.4140b8","8a6ae7eb.2bd278","9420572b.dc1d08","8f540f21.7e9ea","ed3c3b83.e92268","3fad1f83.7f87c","de5c4a19.bbb268","f9d32430.4a2f98","93e9ab69.39c3c8","27a1009c.0fd4f","bee04a15.929748","8b89ce26.06067","ae057d37.2bc1a","ef5a4b.c70805b8","3f418124.18a0ce","1e451244.b968ce","862a5e53.f69f4","547bc2c7.ad750c","469abb2a.500244","626b32e1.b2199c","b3631b2f.719de8","7d167958.bf59f8","f5d3e677.57f258","c768a09f.938f3","10343246.0ea74e","5ac3f51b.e354dc","bbebb1e2.7cbbf","7f1fcd3c.f0d324","b72a1234.e2375","66b9647d.0b8bfc","c157c621.c859a8","54f7d5e6.dd511c","e9940f65.90fcb","f06be0a4.a57b1","b319d4b6.f4e228"],"x":14,"y":539,"w":1112,"h":642},{"id":"294f8efb.06db52","type":"group","z":"2d12fdd7.9b11b2","name":"LightBox","style":{"label":true,"color":"#000000"},"nodes":["11922f93.0ed8e","6e1dd101.98cda","39bfe88d.269398","897067be.1b7b68","e90d9ab3.9b8de8","6fc774f8.d7533c","9196bbec.b84e88","5d2a6565.83f68c","8682385c.a99ba8","e60c3686.d79508"],"x":14,"y":1739,"w":1152,"h":262},{"id":"119913b0.b7decc","type":"group","z":"b271ecc9.e394","name":"Raum zu, alles aus","style":{"label":true,"color":"#000000"},"nodes":["5d759b8c.248584","759b1f1e.23081"],"x":614,"y":339},{"id":"9ac020e6.970e5","type":"group","z":"b271ecc9.e394","name":"Raum auf, Licht an wenn dunkel","style":{"label":true,"color":"#000000"},"nodes":["31663e6d.d7c542","760ae138.6cdf7","14e76386.c3f46c"],"x":614,"y":31.5},{"id":"14ca0533.8d2beb","type":"group","z":"b271ecc9.e394","name":"Raum auf, Kleinkram an","style":{"label":true,"color":"#000000"},"nodes":["bfe2c028.cfcf7","403c5233.eeee8c"],"x":614,"y":199},{"id":"367bd96d.c69c76","type":"mqtt-broker","name":"mqqt broker","broker":"10.23.42.10","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd31e11b.6452","type":"ui_tab","name":"Raum","icon":"dashboard","disabled":false,"hidden":false},{"id":"c017d4b0.e37b18","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cc6cebac.82a268","type":"ui_group","name":"Licht","tab":"cd31e11b.6452","order":2,"disp":true,"width":"6","collapse":false},{"id":"e93fa973.6485b8","type":"ui_group","name":"LightTiles","tab":"cd31e11b.6452","order":3,"disp":true,"width":"6","collapse":false},{"id":"dbd869be.c6bc18","type":"ui_group","name":"Kleinkram","tab":"cd31e11b.6452","order":4,"disp":true,"width":"6","collapse":false},{"id":"97a45ca7.f5235","type":"ui_group","name":"Sensoren","tab":"cd31e11b.6452","order":5,"disp":true,"width":"6","collapse":false},{"id":"acc1e4c2.f0a5b8","type":"ui_group","name":"Main","tab":"cd31e11b.6452","order":1,"disp":false,"width":"12","collapse":false},{"id":"f468925d.13c9","type":"git-nodes-config","name":"backupHoT","git":"file://backup/"},{"id":"1bb35ca7.9d7da3","type":"ui_group","name":"Technical","tab":"cd31e11b.6452","order":6,"disp":true,"width":"6","collapse":false},{"id":"660cfe08.19129","type":"mqtt in","z":"2d12fdd7.9b11b2","name":"","topic":"/room/light/workshop/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":130,"y":400,"wires":[["98c92ede.e0ced"]]},{"id":"55087946.b89bd8","type":"mqtt out","z":"2d12fdd7.9b11b2","name":"","topic":"/room/light/10/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":930,"y":400,"wires":[]},{"id":"62d90588.b7532c","type":"ui_switch","z":"2d12fdd7.9b11b2","name":"","label":"Werkstatt_Licht","tooltip":"","group":"acc1e4c2.f0a5b8","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":520,"y":400,"wires":[["f09eeda.8ee4c1"]]},{"id":"637d9bdd.679614","type":"mqtt out","z":"2d12fdd7.9b11b2","name":"","topic":"/room/light/9/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":920,"y":460,"wires":[]},{"id":"f09eeda.8ee4c1","type":"change","z":"2d12fdd7.9b11b2","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":400,"wires":[["55087946.b89bd8","637d9bdd.679614"]]},{"id":"934588e2.7dc458","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/main/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":140,"y":640,"wires":[["e57f3f50.90e0f"]]},{"id":"9750a692.3aa988","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/1/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1000,"y":720,"wires":[]},{"id":"26385645.34bbda","type":"ui_switch","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","label":"Hauptraum_Licht","tooltip":"","group":"acc1e4c2.f0a5b8","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":550,"y":640,"wires":[["e76af0d2.ec832"]]},{"id":"e57f3f50.90e0f","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":640,"wires":[["26385645.34bbda"]]},{"id":"e76af0d2.ec832","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":640,"wires":[["9750a692.3aa988","6120bd02.56dbd4","2cf7ce5e.a94092","b1f99e7.ac7596","df845a00.7115a8","ef8ac276.334d1","1d16ec5b.13c134","ec95cb8c.f69088"]]},{"id":"6120bd02.56dbd4","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/2/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1000,"y":780,"wires":[]},{"id":"2cf7ce5e.a94092","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/3/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1000,"y":840,"wires":[]},{"id":"b1f99e7.ac7596","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/4/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1000,"y":900,"wires":[]},{"id":"df845a00.7115a8","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/5/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1000,"y":960,"wires":[]},{"id":"ef8ac276.334d1","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/6/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1000,"y":1020,"wires":[]},{"id":"1d16ec5b.13c134","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/7/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1000,"y":1080,"wires":[]},{"id":"ec95cb8c.f69088","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/8/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1000,"y":1140,"wires":[]},{"id":"98c92ede.e0ced","type":"change","z":"2d12fdd7.9b11b2","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":400,"wires":[["62d90588.b7532c"]]},{"id":"edaacdd6.d2106","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/1/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":140,"y":1340,"wires":[["e68f5f0d.5f7c7"]]},{"id":"8d86a707.35e508","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/1/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1020,"y":1340,"wires":[]},{"id":"e68f5f0d.5f7c7","type":"ui_colour_picker","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","label":"LT1","group":"e93fa973.6485b8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":2,"width":0,"height":0,"passthru":false,"topic":"topic","topicType":"msg","x":550,"y":1340,"wires":[["bc4a27d5.52c868"]]},{"id":"983f97fd.4140b8","type":"ui_switch","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","label":"L1","tooltip":"","group":"cc6cebac.82a268","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":550,"y":720,"wires":[["8a6ae7eb.2bd278"]]},{"id":"8a6ae7eb.2bd278","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":720,"wires":[["9750a692.3aa988"]]},{"id":"9420572b.dc1d08","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":720,"wires":[["983f97fd.4140b8"]]},{"id":"8f540f21.7e9ea","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/1/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":130,"y":720,"wires":[["9420572b.dc1d08"]]},{"id":"ed3c3b83.e92268","type":"ui_switch","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","label":"L2","tooltip":"","group":"cc6cebac.82a268","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":550,"y":780,"wires":[["3fad1f83.7f87c"]]},{"id":"3fad1f83.7f87c","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":780,"wires":[["6120bd02.56dbd4"]]},{"id":"de5c4a19.bbb268","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":780,"wires":[["ed3c3b83.e92268","b319d4b6.f4e228"]]},{"id":"f9d32430.4a2f98","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/2/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":130,"y":780,"wires":[["de5c4a19.bbb268"]]},{"id":"93e9ab69.39c3c8","type":"ui_switch","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","label":"L3","tooltip":"","group":"cc6cebac.82a268","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":550,"y":840,"wires":[["27a1009c.0fd4f"]]},{"id":"27a1009c.0fd4f","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":840,"wires":[["2cf7ce5e.a94092"]]},{"id":"bee04a15.929748","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":840,"wires":[["93e9ab69.39c3c8"]]},{"id":"8b89ce26.06067","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/3/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":130,"y":840,"wires":[["bee04a15.929748"]]},{"id":"ae057d37.2bc1a","type":"ui_switch","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","label":"L4","tooltip":"","group":"cc6cebac.82a268","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":550,"y":900,"wires":[["ef5a4b.c70805b8"]]},{"id":"ef5a4b.c70805b8","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":900,"wires":[["b1f99e7.ac7596"]]},{"id":"3f418124.18a0ce","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":900,"wires":[["ae057d37.2bc1a"]]},{"id":"1e451244.b968ce","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/4/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":130,"y":900,"wires":[["3f418124.18a0ce"]]},{"id":"862a5e53.f69f4","type":"ui_switch","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","label":"L5","tooltip":"","group":"cc6cebac.82a268","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":550,"y":960,"wires":[["547bc2c7.ad750c"]]},{"id":"547bc2c7.ad750c","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":960,"wires":[["df845a00.7115a8"]]},{"id":"469abb2a.500244","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":960,"wires":[["862a5e53.f69f4"]]},{"id":"626b32e1.b2199c","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/5/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":130,"y":960,"wires":[["469abb2a.500244"]]},{"id":"b3631b2f.719de8","type":"ui_switch","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","label":"L6","tooltip":"","group":"cc6cebac.82a268","order":7,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":550,"y":1020,"wires":[["7d167958.bf59f8"]]},{"id":"7d167958.bf59f8","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1020,"wires":[["ef8ac276.334d1"]]},{"id":"f5d3e677.57f258","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1020,"wires":[["b3631b2f.719de8"]]},{"id":"c768a09f.938f3","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/6/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":130,"y":1020,"wires":[["f5d3e677.57f258"]]},{"id":"10343246.0ea74e","type":"ui_switch","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","label":"L7","tooltip":"","group":"cc6cebac.82a268","order":8,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":550,"y":1080,"wires":[["5ac3f51b.e354dc"]]},{"id":"5ac3f51b.e354dc","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1080,"wires":[["1d16ec5b.13c134"]]},{"id":"bbebb1e2.7cbbf","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1080,"wires":[["10343246.0ea74e"]]},{"id":"7f1fcd3c.f0d324","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/7/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":130,"y":1080,"wires":[["bbebb1e2.7cbbf"]]},{"id":"b72a1234.e2375","type":"ui_switch","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","label":"L8","tooltip":"","group":"cc6cebac.82a268","order":9,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":550,"y":1140,"wires":[["66b9647d.0b8bfc"]]},{"id":"66b9647d.0b8bfc","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1140,"wires":[["ec95cb8c.f69088"]]},{"id":"c157c621.c859a8","type":"change","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1140,"wires":[["b72a1234.e2375"]]},{"id":"54f7d5e6.dd511c","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"","topic":"/room/light/8/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":130,"y":1140,"wires":[["c157c621.c859a8"]]},{"id":"bc4a27d5.52c868","type":"uppercase","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","x":730,"y":1340,"wires":[["8d86a707.35e508"]]},{"id":"13dc8515.f479ab","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/2/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":140,"y":1400,"wires":[["5a542879.17d508"]]},{"id":"75b18adc.a2bb34","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/2/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1020,"y":1400,"wires":[]},{"id":"5a542879.17d508","type":"ui_colour_picker","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","label":"LT2","group":"e93fa973.6485b8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":3,"width":0,"height":0,"passthru":false,"topic":"topic","topicType":"msg","x":550,"y":1400,"wires":[["73f742b8.b1f8ac"]]},{"id":"73f742b8.b1f8ac","type":"uppercase","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","x":730,"y":1400,"wires":[["75b18adc.a2bb34"]]},{"id":"1741b67e.ae4f2a","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/3/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":140,"y":1460,"wires":[["6509f525.ac195c"]]},{"id":"e0c0a909.0c1e78","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/3/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1020,"y":1460,"wires":[]},{"id":"6509f525.ac195c","type":"ui_colour_picker","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","label":"LT3","group":"e93fa973.6485b8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":4,"width":0,"height":0,"passthru":false,"topic":"topic","topicType":"msg","x":550,"y":1460,"wires":[["a41faa44.094978"]]},{"id":"a41faa44.094978","type":"uppercase","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","x":730,"y":1460,"wires":[["e0c0a909.0c1e78"]]},{"id":"8e655e9f.585d5","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/4/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":140,"y":1520,"wires":[["58c184c9.42148c"]]},{"id":"b2e9af31.73b43","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/4/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1020,"y":1520,"wires":[]},{"id":"58c184c9.42148c","type":"ui_colour_picker","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","label":"LT4","group":"e93fa973.6485b8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":5,"width":0,"height":0,"passthru":false,"topic":"topic","topicType":"msg","x":550,"y":1520,"wires":[["50937576.25c39c"]]},{"id":"50937576.25c39c","type":"uppercase","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","x":730,"y":1520,"wires":[["b2e9af31.73b43"]]},{"id":"c8ae7b82.306d88","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/5/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":140,"y":1580,"wires":[["3dca82fd.3b427e"]]},{"id":"8b585e27.3ee19","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/5/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1020,"y":1580,"wires":[]},{"id":"3dca82fd.3b427e","type":"ui_colour_picker","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","label":"LT5","group":"e93fa973.6485b8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":6,"width":0,"height":0,"passthru":false,"topic":"topic","topicType":"msg","x":550,"y":1580,"wires":[["f977aa9f.d0e258"]]},{"id":"f977aa9f.d0e258","type":"uppercase","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","x":730,"y":1580,"wires":[["8b585e27.3ee19"]]},{"id":"c5789403.c64368","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/6/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":140,"y":1640,"wires":[["cbef0bef.d66578"]]},{"id":"f946ab8a.99cf98","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/6/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1020,"y":1640,"wires":[]},{"id":"cbef0bef.d66578","type":"ui_colour_picker","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","label":"LT6","group":"e93fa973.6485b8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":7,"width":0,"height":0,"passthru":false,"topic":"topic","topicType":"msg","x":550,"y":1640,"wires":[["dceb39dc.a81678"]]},{"id":"dceb39dc.a81678","type":"uppercase","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","x":730,"y":1640,"wires":[["f946ab8a.99cf98"]]},{"id":"8117d7f7.781d88","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","topic":"/room/lighttiles/1/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":140,"y":1280,"wires":[["9baff08b.ec08"]]},{"id":"9baff08b.ec08","type":"ui_colour_picker","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","label":"LightTiles","group":"acc1e4c2.f0a5b8","format":"hex","outformat":"string","showSwatch":false,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":4,"width":0,"height":0,"passthru":false,"topic":"topic","topicType":"msg","x":560,"y":1280,"wires":[["7d6d6a20.3bf3e4"]]},{"id":"7d6d6a20.3bf3e4","type":"uppercase","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","x":730,"y":1280,"wires":[["8d86a707.35e508","75b18adc.a2bb34","e0c0a909.0c1e78","b2e9af31.73b43","8b585e27.3ee19","f946ab8a.99cf98"]]},{"id":"9e5d26e1.2d0318","type":"mqtt in","z":"2d12fdd7.9b11b2","name":"","topic":"/room/windowplug/value","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":120,"y":40,"wires":[["e9753ab9.99cac8"]]},{"id":"f6754392.875a","type":"mqtt out","z":"2d12fdd7.9b11b2","name":"","topic":"/room/windowplug/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1000,"y":40,"wires":[]},{"id":"5ac19a38.df1af4","type":"ui_switch","z":"2d12fdd7.9b11b2","name":"","label":"WindowPlug","tooltip":"","group":"dbd869be.c6bc18","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":540,"y":40,"wires":[["ef755a60.aa2138"]]},{"id":"ef755a60.aa2138","type":"change","z":"2d12fdd7.9b11b2","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":40,"wires":[["f6754392.875a"]]},{"id":"e9753ab9.99cac8","type":"change","z":"2d12fdd7.9b11b2","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":40,"wires":[["5ac19a38.df1af4"]]},{"id":"f1c1eddc.9fc72","type":"mqtt in","z":"2d12fdd7.9b11b2","name":"","topic":"/room/fridge/value","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":120,"y":140,"wires":[["7036f07c.b873e"]]},{"id":"577fdf0.559332","type":"mqtt out","z":"2d12fdd7.9b11b2","name":"","topic":"/room/fridge/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":990,"y":140,"wires":[]},{"id":"a3844eae.c0c53","type":"ui_switch","z":"2d12fdd7.9b11b2","name":"","label":"FridgeLight","tooltip":"","group":"dbd869be.c6bc18","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":550,"y":140,"wires":[["eda6cc96.bcb23"]]},{"id":"eda6cc96.bcb23","type":"change","z":"2d12fdd7.9b11b2","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":140,"wires":[["577fdf0.559332"]]},{"id":"7036f07c.b873e","type":"change","z":"2d12fdd7.9b11b2","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":140,"wires":[["a3844eae.c0c53"]]},{"id":"11922f93.0ed8e","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"294f8efb.06db52","name":"","topic":"/room/lightwallplug/value","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":150,"y":1840,"wires":[["e90d9ab3.9b8de8"]]},{"id":"6e1dd101.98cda","type":"mqtt out","z":"2d12fdd7.9b11b2","g":"294f8efb.06db52","name":"","topic":"/room/lightwallplug/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":1020,"y":1840,"wires":[]},{"id":"39bfe88d.269398","type":"ui_switch","z":"2d12fdd7.9b11b2","g":"294f8efb.06db52","name":"","label":"LightBox","tooltip":"","group":"dbd869be.c6bc18","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":550,"y":1840,"wires":[["897067be.1b7b68"]]},{"id":"897067be.1b7b68","type":"change","z":"2d12fdd7.9b11b2","g":"294f8efb.06db52","name":"bool to off on","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1840,"wires":[["6e1dd101.98cda"]]},{"id":"e90d9ab3.9b8de8","type":"change","z":"2d12fdd7.9b11b2","g":"294f8efb.06db52","name":"on off to bool","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"misc","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1840,"wires":[["39bfe88d.269398"]]},{"id":"6fc774f8.d7533c","type":"mqtt in","z":"2d12fdd7.9b11b2","g":"294f8efb.06db52","name":"","topic":"/room/lightwallplug/temperature","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":170,"y":1900,"wires":[["9196bbec.b84e88"]]},{"id":"9196bbec.b84e88","type":"switch","z":"2d12fdd7.9b11b2","g":"294f8efb.06db52","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"4200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":1900,"wires":[["5d2a6565.83f68c","8682385c.a99ba8"]]},{"id":"5d2a6565.83f68c","type":"change","z":"2d12fdd7.9b11b2","g":"294f8efb.06db52","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1900,"wires":[["897067be.1b7b68"]]},{"id":"3e83d788.1c57b8","type":"mqtt in","z":"b3954113.3bfe9","name":"","topic":"/room/door/unlocked","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":130,"y":80,"wires":[["736f1a15.535404"]]},{"id":"478f9098.16afe","type":"ui_text","z":"b3954113.3bfe9","group":"97a45ca7.f5235","order":4,"width":0,"height":0,"name":"","label":"Türstatus","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":80,"wires":[]},{"id":"736f1a15.535404","type":"change","z":"b3954113.3bfe9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"offen","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"geschlossen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["478f9098.16afe"]]},{"id":"173e7648.a68eda","type":"ui_chart","z":"b3954113.3bfe9","name":"","group":"97a45ca7.f5235","order":1,"width":0,"height":0,"label":"Temperatur Innen","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":370,"y":180,"wires":[[]]},{"id":"6187880c.4c2558","type":"mqtt in","z":"b3954113.3bfe9","name":"","topic":"/room/temperature/inside","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":150,"y":180,"wires":[["173e7648.a68eda"]]},{"id":"eaa06f1.18dde9","type":"ui_chart","z":"b3954113.3bfe9","name":"","group":"97a45ca7.f5235","order":2,"width":0,"height":0,"label":"Temperatur Aussen","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":370,"y":240,"wires":[[]]},{"id":"ae533783.4eca98","type":"mqtt in","z":"b3954113.3bfe9","name":"","topic":"/room/temperature/outside","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":150,"y":240,"wires":[["eaa06f1.18dde9"]]},{"id":"7fab83bf.2619ac","type":"ui_chart","z":"b3954113.3bfe9","name":"","group":"97a45ca7.f5235","order":3,"width":0,"height":0,"label":"Temperatur Cabinet","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":370,"y":300,"wires":[[]]},{"id":"45db7729.017c68","type":"mqtt in","z":"b3954113.3bfe9","name":"","topic":"/room/temperature/cabinet","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":150,"y":300,"wires":[["7fab83bf.2619ac"]]},{"id":"8682385c.a99ba8","type":"ui_toast","z":"2d12fdd7.9b11b2","g":"294f8efb.06db52","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Wall Overheat","name":"Wall Overheat","x":580,"y":1960,"wires":[]},{"id":"1a9943a.8a9c2bc","type":"mqtt in","z":"b271ecc9.e394","name":"","topic":"/room/door/unlocked","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":130,"y":40,"wires":[["a6068cd2.d15a4"]]},{"id":"a11cad50.6893e","type":"rbe","z":"b271ecc9.e394","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":40,"wires":[["ab941a7e.372518","760ae138.6cdf7"]]},{"id":"ab941a7e.372518","type":"switch","z":"b271ecc9.e394","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":120,"wires":[["bfe2c028.cfcf7","403c5233.eeee8c"],["5d759b8c.248584","759b1f1e.23081"]]},{"id":"e9940f65.90fcb","type":"link in","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"mainLichter","links":["5d759b8c.248584","14e76386.c3f46c"],"x":575,"y":580,"wires":[["e76af0d2.ec832"]]},{"id":"5d759b8c.248584","type":"link out","z":"b271ecc9.e394","g":"119913b0.b7decc","name":"mainLichter","links":["3a2f09db.4fac86","7374e759.1ac508","e9940f65.90fcb","6c21f05b.79fa5","13702260.68c51e","e60c3686.d79508"],"x":655,"y":380,"wires":[]},{"id":"a6068cd2.d15a4","type":"change","z":"b271ecc9.e394","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"door","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":40,"wires":[["a11cad50.6893e"]]},{"id":"3a2f09db.4fac86","type":"link in","z":"2d12fdd7.9b11b2","name":"werkstattLichter","links":["4148b552.14e7bc","5d759b8c.248584"],"x":575,"y":360,"wires":[["f09eeda.8ee4c1"]]},{"id":"7374e759.1ac508","type":"link in","z":"2d12fdd7.9b11b2","name":"FridgeLicht","links":["5d759b8c.248584"],"x":575,"y":200,"wires":[["eda6cc96.bcb23"]]},{"id":"6c21f05b.79fa5","type":"link in","z":"2d12fdd7.9b11b2","name":"WindowPlug","links":["5d759b8c.248584","bfe2c028.cfcf7"],"x":575,"y":80,"wires":[["ef755a60.aa2138"]]},{"id":"13702260.68c51e","type":"link in","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"LightTiles","links":["5d759b8c.248584"],"x":375,"y":1220,"wires":[["7970bf04.de899"]]},{"id":"7970bf04.de899","type":"change","z":"2d12fdd7.9b11b2","g":"ee0d426d.8ce6d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"000000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1220,"wires":[["7d6d6a20.3bf3e4"]]},{"id":"e60c3686.d79508","type":"link in","z":"2d12fdd7.9b11b2","g":"294f8efb.06db52","name":"LightWall","links":["5d759b8c.248584","bfe2c028.cfcf7"],"x":595,"y":1780,"wires":[["897067be.1b7b68"]]},{"id":"759b1f1e.23081","type":"http request","z":"b271ecc9.e394","g":"119913b0.b7decc","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://pushalarm.de/pushout.php?grouptoken=2a66834c999242e8b214fed055914e0db0a17d51ba4ba62ee43e802f60e20bea&alert=C3MA&content=Der%20C3MA%20Raum%20wurde%20abgeschlossen!","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":420,"wires":[[]]},{"id":"bfe2c028.cfcf7","type":"link out","z":"b271ecc9.e394","g":"14ca0533.8d2beb","name":"","links":["6c21f05b.79fa5","e60c3686.d79508"],"x":655,"y":240,"wires":[]},{"id":"31663e6d.d7c542","type":"nighttime","z":"b271ecc9.e394","g":"9ac020e6.970e5","name":"","lon":"8.466040","lat":"49.487457","start":"dawn","end":"sunset","x":700,"y":140,"wires":[["760ae138.6cdf7"],[]]},{"id":"760ae138.6cdf7","type":"BooleanLogicUltimate","z":"b271ecc9.e394","g":"9ac020e6.970e5","name":"","filtertrue":"onlytrue","persist":false,"sInitializeWith":"false","triggertopic":"door","outputtriggeredby":"onlyonetopic","inputCount":2,"topic":"result","x":860,"y":80,"wires":[["14e76386.c3f46c"],[],[]]},{"id":"14e76386.c3f46c","type":"link out","z":"b271ecc9.e394","g":"9ac020e6.970e5","name":"","links":["e9940f65.90fcb"],"x":975,"y":80,"wires":[]},{"id":"403c5233.eeee8c","type":"http request","z":"b271ecc9.e394","g":"14ca0533.8d2beb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://pushalarm.de/pushout.php?grouptoken=2a66834c999242e8b214fed055914e0db0a17d51ba4ba62ee43e802f60e20bea&alert=C3MA&content=Der%20C3MA%20Raum%20wurde%20aufgeschlossen!","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":280,"wires":[[]]},{"id":"fda87017.2d5e3","type":"ui_button","z":"b271ecc9.e394","name":"","group":"acc1e4c2.f0a5b8","order":1,"width":0,"height":0,"passthru":false,"label":"Alles Aus!","tooltip":"","color":"","bgcolor":"#ff0000","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":380,"wires":[["5d759b8c.248584"]]},{"id":"1598bb89.b151a4","type":"exec","z":"2a78a6bb.41ace2","command":"rsync -rau --exclude 'node_modules' --exclude '*.backup' --exclude '*cred_json'  /home/pi/.node-red /backup/.node-red/ --delete --progress","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":700,"y":40,"wires":[["fd2d02f5.4f49d"],[],["499fa90d.455298"]]},{"id":"6a5dd18f.2da1","type":"ui_button","z":"2a78a6bb.41ace2","name":"","group":"1bb35ca7.9d7da3","order":1,"width":0,"height":0,"passthru":false,"label":"backup config","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":40,"wires":[["1598bb89.b151a4"]]},{"id":"499fa90d.455298","type":"switch","z":"2a78a6bb.41ace2","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":110,"y":140,"wires":[["8453275e.24b4c8"]]},{"id":"8453275e.24b4c8","type":"exec","z":"2a78a6bb.41ace2","command":"cd /backup; git add -A; git commit -m 'automatic backup';","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":140,"wires":[["67e2d327.d5515c"],[],["ced0860.5fa3cf8"]]},{"id":"d4c78d5.62228f","type":"ui_text","z":"2a78a6bb.41ace2","group":"1bb35ca7.9d7da3","order":4,"width":"6","height":"3","name":"","label":"Backup status","format":" {{msg.payload}}","layout":"col-center","x":1300,"y":220,"wires":[]},{"id":"3fce6f91.50ee8","type":"mqtt out","z":"25a83b77.17d504","name":"","topic":"/room/screen/command","qos":"","retain":"","broker":"367bd96d.c69c76","x":910,"y":220,"wires":[]},{"id":"8e2afc44.c3848","type":"mqtt in","z":"25a83b77.17d504","name":"","topic":"/room/beamer/state","qos":"2","datatype":"auto","broker":"367bd96d.c69c76","x":190,"y":180,"wires":[["b119053c.70fd28"]]},{"id":"b119053c.70fd28","type":"switch","z":"25a83b77.17d504","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"used","vt":"str"},{"t":"cont","v":"unused","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":180,"wires":[["ae4da39e.664c4","547435ec.ed00dc"],["76d0625a.7d59fc","30ba5aae.3abf26"]]},{"id":"ae4da39e.664c4","type":"change","z":"25a83b77.17d504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":200,"wires":[["3fce6f91.50ee8"]]},{"id":"76d0625a.7d59fc","type":"change","z":"25a83b77.17d504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":240,"wires":[["3fce6f91.50ee8"]]},{"id":"f06be0a4.a57b1","type":"link in","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"lampe1","links":["564f1f52.223e5","e6aa1d3c.a128d"],"x":595,"y":680,"wires":[["8a6ae7eb.2bd278"]]},{"id":"564f1f52.223e5","type":"link out","z":"25a83b77.17d504","name":"","links":["f06be0a4.a57b1"],"x":715,"y":120,"wires":[]},{"id":"547435ec.ed00dc","type":"change","z":"25a83b77.17d504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[["564f1f52.223e5"]]},{"id":"b319d4b6.f4e228","type":"link out","z":"2d12fdd7.9b11b2","g":"21a3ed4e.d84142","name":"isLight2On","links":["c06cc93b.93fdc8"],"x":455,"y":820,"wires":[]},{"id":"c06cc93b.93fdc8","type":"link in","z":"25a83b77.17d504","name":"","links":["b319d4b6.f4e228"],"x":655,"y":380,"wires":[["d7ce5103.83d8d"]]},{"id":"d7ce5103.83d8d","type":"BooleanLogicUltimate","z":"25a83b77.17d504","name":"","filtertrue":"both","persist":true,"sInitializeWith":"false","triggertopic":"beamer","outputtriggeredby":"onlyonetopic","inputCount":2,"topic":"result","x":790,"y":340,"wires":[["e6aa1d3c.a128d"],[],[]]},{"id":"e6aa1d3c.a128d","type":"link out","z":"25a83b77.17d504","name":"","links":["f06be0a4.a57b1"],"x":915,"y":320,"wires":[]},{"id":"30ba5aae.3abf26","type":"change","z":"25a83b77.17d504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"beamer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":340,"wires":[["d7ce5103.83d8d"]]},{"id":"6ef5be33.e90308","type":"debug","z":"2a78a6bb.41ace2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":280,"wires":[]},{"id":"ced0860.5fa3cf8","type":"exec","z":"2a78a6bb.41ace2","command":"cd /backup; git status","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":240,"wires":[["d4c78d5.62228f"],["6ef5be33.e90308"],[]]},{"id":"fd2d02f5.4f49d","type":"ui_text","z":"2a78a6bb.41ace2","group":"1bb35ca7.9d7da3","order":2,"width":"6","height":"2","name":"","label":"Backup status (rsync)","format":" {{msg.payload}}","layout":"col-center","x":1320,"y":20,"wires":[]},{"id":"67e2d327.d5515c","type":"ui_text","z":"2a78a6bb.41ace2","group":"1bb35ca7.9d7da3","order":3,"width":"6","height":"2","name":"","label":"Backup status (git)","format":" {{msg.payload}}","layout":"col-center","x":1310,"y":120,"wires":[]}]